<ul class="nav nav-pills">
	<li role="presentation" class="active">
		<a href={{concat "#" elementId "-run"}} aria-controls={{concat elementId "-run"}} role="tab" data-toggle="tab">
			<i aria-hidden="true" class="fa fa-play"></i>    Run
		</a>
	</li>
	<li role="presentation">
		<a href={{concat "#" elementId "-source"}} aria-controls={{concat elementId "-source"}} role="tab" data-toggle="tab">
			<i aria-hidden="true" class="fa fa-code"></i>    Source
		</a>
	</li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
	<div role="tabpanel" class="tab-pane active" id={{concat elementId "-run"}} >
		{{yield}}
	</div>
	<div role="tabpanel" class="tab-pane" id={{concat elementId "-source"}} >
		{{code-snippet name=(concat snippetName ".hbs")}}
	</div>
</div>
