{{pesto-label class=labelClass value=label for=inputId visible=showLabel}}

{{#if inputWidthClass}}
	<div class="{{inputWidthClass}}">
        {{partial "components/pesto-input/input"}}
	</div>
{{else}}
    {{partial "components/pesto-input/input"}}
{{/if}}

<span class="form-control-feedback {{formControlFeedbackClass}}"></span>

{{partial "common/pesto-messages"}}

{{yield (hash validator=(component "pesto-validator" validationSelector=validationSelector))}}

{{partial "common/pesto-custom-validators"}}
