{{pesto-label class=labelClass value=label for=inputId visible=showLabel}}

{{#if inputWidthClass}}
	<div class="{{inputWidthClass}}">
		{{partial "components/pesto-input/input"}}
	</div>
{{else}}
	{{partial "components/pesto-input/input"}}
{{/if}}

{{#if helpTextVisible}}
	{{pesto-help-block text=helpText}}
{{/if}}

{{pesto-input-icon iconClass=formControlFeedbackClass}}

{{partial "common/pesto-custom-validators"}}

{{yield (hash validator=(component "pesto-validator" validationSelector=validationSelector)
					 messages=(component "pesto-field-messages" showMessagesAsPopover=showMessagesAsPopover
								successMessageVisible=successMessageVisible
								successMessage=successMessage
								errorMessagesVisible=errorMessagesVisible
								showOnlyFirstErrorMessage=showOnlyFirstErrorMessage
								errorMessages=errorMessages))}}



