{{pesto-label class=labelClass value=label for=inputId visible=showLabel}}

{{#if inputWidthClass}}
	<div class="{{inputWidthClass}}">
		{{input id=inputId
				  value=value
				  focus-in="focusIn"
				  focus-out="focusOut"
				  key-press="keyPress"
				  key-down="keyDown"
				  key-up="keyUp"
				  autofocus=autoFocus
				  disabled=disabled
				  name=name
				  placeholder=placeholder
				  readonly=readOnly
				  required=required
				  tabindex=tabIndex
				  data-parsley-required=required
				  data-parsley-type=validationType
				  type=htmlType
				  data-parsley-required-message=requiredMessage
				  data-parsley-type-message=typeMessage
				  data-parsley-minlength=minimumLength
				  minlength=minimumLength
				  data-parsley-minlength-message=minimumLengthMessageComputed
				  data-parsley-maxlength=maximumLength
				  maxlength=maximumLength
				  data-parsley-maxlength-message=maximumLengthMessageComputed
				  data-parsley-length=lengthRange
				  data-parsley-length-message=lengthMessage
				  min=minimumValue
				  data-parsley-min=minimumValue
				  data-parsley-min-message=minimumValueMessageComputed
				  max=maximumValue
				  data-parsley-max=maximumValue
				  data-parsley-max-message=maximumValueMessageComputed
				  data-parsley-range=range
				  data-parsley-range-message=rangeMessage
				  pattern=pattern
				  class=(concat "form-control " inputClass)
				  data-parsley-pattern=pattern
				  data-parsley-pattern-message=patternMessage
				  data-parsley-validate-if-empty=validateIfEmptyComputed
				  data-parsley-trigger=validationTriggerComputed
				  data-parsley-trigger-after-failure=validationTriggerAfterFailureComputed
				  data-parsley-group=validationGroup
				  data-parsley-validation-threshold=validationThreshold
				  data-parsley-error-message=errorMessage
		}}

	</div>
{{else}}
	{{input id=inputId
			  value=value
			  focus-in="focusIn"
			  focus-out="focusOut"
			  key-press="keyPress"
			  key-down="keyDown"
			  key-up="keyUp"
			  autofocus=autoFocus
			  disabled=disabled
			  name=name
			  placeholder=placeholder
			  readonly=readOnly
			  required=required
			  tabindex=tabIndex
			  data-parsley-required=required
			  data-parsley-type=validationType
			  type=htmlType
			  data-parsley-required-message=requiredMessage
			  data-parsley-type-message=typeMessage
			  data-parsley-minlength=minimumLength
			  minlength=minimumLength
			  data-parsley-minlength-message=minimumLengthMessageComputed
			  data-parsley-maxlength=maximumLength
			  maxlength=maximumLength
			  data-parsley-maxlength-message=maximumLengthMessageComputed
			  data-parsley-length=lengthRange
			  data-parsley-length-message=lengthMessage
			  min=minimumValue
			  data-parsley-min=minimumValue
			  data-parsley-min-message=minimumValueMessageComputed
			  max=maximumValue
			  data-parsley-max=maximumValue
			  data-parsley-max-message=maximumValueMessageComputed
			  data-parsley-range=range
			  data-parsley-range-message=rangeMessage
			  pattern=pattern
			  class=(concat "form-control " inputClass)
			  data-parsley-pattern=pattern
			  data-parsley-pattern-message=patternMessage
			  data-parsley-validate-if-empty=validateIfEmptyComputed
			  data-parsley-trigger=validationTriggerComputed
			  data-parsley-trigger-after-failure=validationTriggerAfterFailureComputed
			  data-parsley-group=validationGroup
			  data-parsley-validation-threshold=validationThreshold
			  data-parsley-error-class=errorClass
			  data-parsley-error-message=errorMessage
			  data-parsley-errors-messages-disabled=true
	}}
{{/if}}

<span class="form-control-feedback {{formControlFeedbackClass}}"></span>

{{#if showSuccessMessage}}
	<div class="help-block">{{successMessage}}</div>
{{/if}}

{{#if showHelpMessage}}
	<div class="help-block">{{helpMessage}}</div>
{{/if}}

{{#if showErrorMessages}}
	{{#if showFirstErrorMessageOnly}}
		<div class="help-block">{{errorMessages.firstObject}}</div>
	{{else}}
		{{#each errorMessages as |errorMessage|}}
			<div class="help-block">{{errorMessage}}</div>
		{{/each}}
	{{/if}}
{{/if}}

{{yield (hash validator=(component "pesto-validator" validationSelector=validationSelector))}}

{{#if equalTo}}
	{{mx-validator action=(action "validateEqualTo")
						message=equalToMessage
						validationSelector=validationSelector}}
{{/if}}

{{#if greaterTo}}
	{{mx-validator action=(action "validateGreaterTo")
						message=greaterToMessage
						validationSelector=validationSelector}}
{{/if}}

{{#if greaterOrEqualTo}}
	{{mx-validator action=(action "validateGreaterOrEqualTo")
						message=greaterOrEqualToMessage
						validationSelector=validationSelector}}
{{/if}}

{{#if lesserTo}}
	{{mx-validator action=(action "validateLesserTo")
						message=lesserToMessage
						validationSelector=validationSelector}}
{{/if}}

{{#if lesserOrEqualTo}}
	{{mx-validator action=(action "validateLesserOrEqualTo")
						message=lesserOrEqualToMessage
						validationSelector=validationSelector}}
{{/if}}